@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background:#333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}

.quote-box {
  background-color:#fff;
  padding:40px 40px;
  max-width:400px;
  display:table;
  position:relative;
  margin: 15% auto;
  border-radius:5px;
}
.quote{
  i {
    font-size:0.9em;
    margin-right:0.4em;
  }
  margin-bottom:20px;
  clear:both;
  text-align: center;
  font-weight:400;
  font-size: 1.5em;
}
.quote-author {
  text-align:right;
  float:right;
}
.buttons {
  margin:70px auto;
  display:block;
  .button {
  height:40px;
  border:none;
  border-radius:3px;
  outline:none;
  font-size: 0.9em;
  padding:10px 20px;
  cursor:pointer;
    &:hover {
      opacity:0.6;
    }
    &#new-quote {
      float:right;
    }
    &#tweet-quote {
      float:left;
    }
  }
}
